body {
    font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
}

.main-container {
    height: 560px;
    width: 47%;
    float: left;
    /* border: 2px solid black;  Remove this line */
    margin-left: 10px;
    position: relative;
    overflow: hidden;
}

div#graphUI.dfs {
    width: 42%;
    border: solid 3px #b6b6b6;
    border-radius: 10px;
}

div#queueUI {
    float: left;
    width: 8%;
    height: 560px;
    position: relative;
}

.bottom-container {
    /* height: 40px; */
    float: left;
    margin-left: 10px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden; /* is this needed? */
}

.left-bottom {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
    width: 20%;
}

.right-bottom {
    position: relative;
    width: 68%;
    padding-top: 30px;
    height: 150px;
    float: left;
    /* background-color: #1e62d0; */
}

.my-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
    background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
    background-color:#3d94f6;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #337fed;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1570cd;
    width: 100px;
}
.my-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
    background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
    background-color:#1e62d0;
}
.my-button:active {
    position:relative;
    top:1px;
}

.visited-text {
    position: relative;
    margin: 0;
    margin-top: 14px;
    padding: 0;
    font-size: 200%;
    float: left;
}

.indices {
    position: relative;
    margin: 0;
    padding: 0;
    margin-right: 170px;
    float: left;
}


.border-right {
    border-right: 2px solid black;
}

div.nodeUI {
    border: 6px solid black;
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 10000px; /* Just to be sure.. */
    background-color: white;
}

div.nodeUI.selected {
    background-color: rgb(255, 189, 59);
}


div.nodeUI p {
    font-size: 3em;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 3px;
}

svg#edgeSvg line {
    stroke:rgb(0,0,0);
    stroke-width:4;
}
div.adjListDiv {
    position: relative;
    height: 12.5%;
    width: 100%;
}


svg#edgeSvg line.markedLine {
    stroke: rgb(16, 130, 219);
    stroke-width: 6;
}

p.adjListIndex {
    position:relative;
    width: 10%;
    text-align: center;
    border-right: solid 2px;
    background-color: white;
    z-index: 10;
}

p.adjList {
    position:absolute;
    left: -1000px;
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 15px;
    background-color: white;
    z-index: 9; /* has to be less than Z-index of p.adjListIndex, but more than everything else */
}

p.adjListText {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
    height: 100%;
    margin: 0;
    float: left;
}

p.edgeWeight {
    position: absolute;
    font-size: 1.4em;
    color: purple;
    margin: 0;
    margin-left: -10px;
    margin-top: -10px;
}

ul.insElements {
    list-style-type: none;
    position: relative;
    display: block;
    margin: 0 auto;
    /*float: left; */
    /* width: 0; */
    /*background-color: #3adb04; */
}

ul.insElements li {
    position: relative;
    text-align: center;
    top: 0;
    background-color: white;
    float: left;
    padding-left: 10px;
    left: 0px;
}

ul.insElements li div {
    position: relative;
    width: 25px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    outline: 1px solid transparent;
    float: left;
}

img.bracket {
    position: relative;
    height: auto;
    width: 30px;
    top: 0px;
    float: left;
}

img#leftBracket {
    left: 0px;
}

img#rightBracket {
    left: 10px;
}

ul#visitedUL li p {
    margin: 0;
}

ul#visitedUL li.marked div {
    background-color: #05eb32;
}

/* $("#insElemNr0").addClass("marked"); */