html, body {
    width: 100%;
    overflow-x: hidden;
}

h1 {
    margin-bottom: 40px;
}

div.arrayRow {
    height: 100px;
    margin-bottom: 20px;
    font-weight: bold;
}

ul#arrayUL {
  list-style-type: none;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 0;
    font-weight: bold;
}

ul#arrayUL li {
  position: absolute;
  text-align: center;
  top: 0;
  background-color: white;
}

ul#arrayUL li div.content {
    width: 50px;
    border: 2px solid black;
    padding: 10px;
}

div.unionSort {
  margin-top: 50px;
  margin-bottom: 70px;
  position: relative;
}

ul#graphUL {
    position: relative;
    height: 300px;
    padding: 0;
    font-weight: bold;
}

ul#graphUL li {
    position: absolute;
    list-style-type: none;
    padding: 7px 13px;
    border: 2px solid black;
    border-radius: 18px;
    outline: 1px solid transparent; /* remove traces from moved element */
    background-repeat: no-repeat;
    background-size: contain;
    background: white;
    z-index: 2;
}

ul#graphUL li.selected, ul#arrayUL li.selected div.content {
    background-color: #ffecbf;
}

ul#graphUL li.correct {
    background-image: url('../assets/correct.png');
}

ul#graphUL li.wrong {
    background-image: url('../assets/wrong.png');
}

/** WARNING: Do not change the name of "green" or "orange" class. Js uses strings sent from java to set class **/
ul#graphUL li.green  {  border: 3px solid rgb(0,   204, 0);     }
ul#graphUL li.orange {  border: 3px solid rgb(255, 117, 26);    }
/** WARNING: Do not change the name of "green" or "orange" class. Js uses strings sent from java to set class **/

ul#graphUL svg#lines {
    width: 100%;
    height: 100%;
}

ul#graphUL svg#lines line {
    stroke: black;
    stroke-width: 2;
    z-index: 1;
}

ul#graphUL img {
    height: auto;
    width: 40px;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 3;
}

img#arrow {
    position: absolute;
    top: 70px;
    left: 9px;
}

div.buttons {
    margin: 8px;
    display: block;
}

div.settings {
    display: inline-block;
    text-align: center;
    padding: 10px 25px;
    vertical-align: top;
    border-right: 2px black solid;
    border-left: 2px black solid;
}

div.radioSettings {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.3em;
}

img.bracket {
    position: absolute;
    height: auto;
    width: 50px;
    top: -15px;
}

img#leftBracket {
    left: -55px;
}

img#rightBracket {
    left: 683px;
}


